# 开发环境下
DB_NAME=xxx     # 数据库名
DB_HOST=xxx     # 数据库地址
DB_PORT=xxx     # 数据库端口
DB_USER=xxx     # 数据库用户名
DB_PASSWORD=xxx # 数据库密码
DB_SYNCHRONIZE=true  # 是否自动导入实体


JWT_SECRET=xxx
JWT_EXPIRES_IN=xxx

HW_USER_NAME=xxx
HW_USER_PASSWORD=xxx
HW_USER_DOMAIN_NAME=xxx
HW_SCOPE_PROJECT_NAME=xxx

SITE_NAME=xxx
SITE_URL=xxx
SITE_EMAIL=xxx

QINIU_URL=xxx
QINIU_AREA=xxx
QINIU_ZONE=xxx
QINIU_PUBLIC_KEY=xxx
QINIU_PRIVATE_KEY=xxx

USER_SECRET_KEY = xxx