/*路由动画*/
.slide-out-enter-active,
.slide-out-leave-active,
.slide-in-enter-active,
.slide-in-leave-active {
    transition: all .3s ease
}

.slide-out-enter {
    opacity: .2;
}


.slide-out-leave-active {
    opacity: .2;
}


.slide-in-enter {
    opacity: .2;
}


.slide-in-leave-active {
    opacity: .2;
}

