.ant-btn-primary
  background-color $color-title
  border-color #1b1f23
  transition opacity .3s
  &:hover
    border-color #1b1f23
    background-color $color-title
    opacity .8
  &:focus
    border-color #1b1f23
    background-color $color-title
    opacity .8
