body, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0
}


body
  h1, h2, h3, h4, h5, h6
    font-weight 500
    line-height 1.3
    margin-bottom 0
    color $color-title

body p
  margin-bottom: 0


::selection
  color #fff
  background $color-focus!important


img:before {
  /* 关键是这句 */
  content: '图片加载失败';

  /* 下面都是辅助的样式代码 */
  display: block;
  padding: 0 20px;
  background-color: #eaeaea;
  color: indianred;
  line-height: 30px;
}


/*控制整个滚动条*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-clip: padding-box;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
  background-color: #BDBFC5;
  border-radius: 5px;
}



html body
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size 15px
  line-height 1.3
  color $color-content
  height auto
  background rgba(231,234,238, .2)

body a
  text-decoration none
  color $color-content
  &:hover
    color $color-focus

:after, :before {
  box-sizing: border-box;
}


* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

em {
  font-style: normal
}

li {
  list-style: none
}

img {
  vertical-align: middle
  height: auto;
  border-style none
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

p {
  word-wrap: break-word
}

.vuepress-markdown-body  li {
  list-style disc
}

