
// 字体
$font-color = #666
$font-color-minor = #909399
$font-size-title = 25px
$font-size-big = 18px
$font-size-medium = 16px
$font-size-small  = 14px
$font-size-mini = 10px


// 其他
$border-line-color = #dee5e7
$box-shadow = 0 2px 5px rgba(0,0,0,0.1)

// 色调
$color-green = rgb(184,255,184)
$color-redOrange = rgb(255,181,161)
$color-greenishBlue = rgb(95,217,205)
$color-lightYellow = rgb(228,96,134)
$color-lightPink = #FFA7A6
$background-color = rgb(255,255,255)
//$background-color = #000
//$minor-color = #909399
$minor-color = #888da8
$color = #97dffd
$active-color = #53A8FF

// 响应式
