  // 字体大小
$font-size-title = 20px
$font-size-medium = 16px
$font-size-small  = 14px
$font-size-mini = 12px

// 色彩
$color-title = #18191b
$color-content = #52555a
$color-subsidiary = #a7abb3
$color-focus = #e94328

$color-line-1 = rgba(0,0,0, 0.03)
$color-line-2 = #f0f0f0

// 文本超出省咯号
text-omit($row)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp $row
  -webkit-box-orient vertical
  word-break break-all

// 阴影
shadow-3-down()
  box-shadow 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03)
shadow-2-down()
  box-shadow 0 12px 24px rgba(0,0,0,0.08)

border-radius-5()
  border-radius 5px

border-radius-10()
  border-radius 10px

// 响应式适配
$pc = 1440px
$tablet = 768px
$mobile = 414px


// 容器宽度
$width = 1440px
